.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  color: white;
  padding: 2rem;
}

.App-logo {
  height: 40vmin;
  opacity: 0.4;
  pointer-events: none;
}

.App-main {
  flex: 1; /* grow to fill remaining space */
  padding: 2rem;
  background-color: #1c1f26;
}

.event-card {
  margin: 1rem;
  border: 1px solid rgba(184, 130, 15, 0.473); 
  padding: 1rem;
  border-radius: 8px;
  border-width: 0.1mm; 
  margin-left: 30%;
  margin-right: 30%;
  color:#ccc
}

.App-footer {
  background-color: #1c1f26;
  color: #ccc;
  padding: 1rem;
}


